body {
    margin: 0;
    
    padding: 0;
    font-family: Arial, sans-serif;
  
background: linear-gradient(90deg, rgba(196,191,35,1) 0%, rgba(32,212,214,1) 50%, rgba(210,30,157,1) 100%);
}
.content-item a {
    color: gold;
    text-decoration: none;
}
.content-item a:hover {
    text-decoration: underline;
}
.ktt{
    list-style: none;
}
footer {
    background: linear-gradient(90deg, rgba(210, 30, 157, 1) 0%, rgba(32, 212, 214, 1) 50%, rgba(196, 191, 35, 1) 100%);
    color: #df6767;
    padding: 20px;
    text-align: center;
    
    position: relative; 
    margin-top: auto; 
    
}
a {
    color: #df6767;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


